{% extends 'base.html' %}

{% load crispy_forms_tags %} 

{% block title %}Delete Group {% endblock title %}


{% block content %}
    <p></P>
    <form enctype='multipart/form-data' method="post">

    <!-- Security token -->

    {% csrf_token %}

    {% comment %} Using the formset {% endcomment %}
    Are you sure you want to delete "{{group}}" ?
    <p> All products with this group name will have their "Product group" column blank </p>
    {% comment %} {{form.as_p}} {% endcomment %}

    {{form|crispy}}
    <p></p>
    <input type="submit" value="Confirm">

    </form>

    <p></p>
    <a href="{{group.get_absolute_url}}"><button>Cancel</button> </a>
{% endblock %}




