{% extends 'base.html' %}

{% block title %}Group Manual{% endblock title %}
{% load static %}
{% block content %}

<p></p>
<h3> Group Manual </h3>

<p><h5> Adding Product Groups </h5></p>
<p>You can add a new product group by clicking on the <strong> "Add New Group" </strong> action link above or </br> you can Navigate to <strong>'All Product Groups" </strong> link on the left and add new group from there.</p>

<p><h5> Editing Product Group </h5></p>
<p>To edit a product group, Navigate to <strong> "All Product Groups" </strong> link on the left, click on the product group name </br> click on edit and update the product group.</p>

<p><h5> Deleting Product Group </h5></p>
<p>To Delete a product group, Navigate to <strong> "All Product Groups" </strong> link on the left, click on the product group name, </br>click on delete and confirm</p>
<p><em><strong>Note: When you delete a group, all products under that group will have their "product group" column set to blank.</strong></em></p>
{% endblock content%}

