{% extends 'base.html' %}

{% load crispy_forms_tags %} {% comment %} add crispy forms to installed apps in settings first then load here {% endcomment %}

{% block title %}Edit Group{% endblock title %}

{% block content %}

<p> <h5> Edit {{group}} </h5> </p>

<form  method="post">

<!-- Security token -->

{% csrf_token %}

{% comment %} Using the formset {% endcomment %}

{% comment %} {{form.as_p}} This uses djangos inbuilt form {% endcomment %} 
{{form|crispy}}

<input type="submit" value="Update Group">

</form>

<p></p>

<a href="{{group.get_absolute_url}}"><button>Cancel</button> </a>

{% endblock %}




