{% extends 'base.html' %}

{% load static %}
{% block title %}
XYZ LOGISTICS
{% endblock title %}  

{% block content %}

<P>
<h1 class="navbar navbar-expand-lg bg-light "><strong> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp WELCOME TO XYZ LOGISTICS </strong></h1>
</p>
<p><a href="https://sotomi-inventory-manager-v2.herokuapp.com/" target="-blank">-->> <strong>Link to version 2. Please click</strong> </a></p>
<img src="{% static 'images/logistics.jpeg' %}" alt="A Smart warehouse management system" width='80%' height='10%'>
<p> You have visited this page {{num_of_visits}} time{{num_of_visits|pluralize }}. </p>
{% endblock content %}



