{% extends 'base.html' %}

{% block title %}Overview Manual{% endblock title %}
{% load static %}
{% block content %}
<h2>OVERVIEW </h2>
This web application allows you perform CRUD (create, read, update and delete) operations for products, </br> warehouses, transactions and product groups.
<p></p>
It also allows you assign products to different warehouses and allows you view the list of products across all </br>  warehouses combined.
<p></p>
<p></p>

<h4> Navigation Links</h4>

<p>On the left side of the screen, a list of links that direct you to different parts of the web app is shown.</p>
<img src="{% static 'images/links.png' %}" alt="Screenshot of the links area" width='20%' height='10%'>
<p>You can click on the "All products" link to direct you to a list of products.</p>
<p>Similarly, you can do the same for warehouses, transactions and product groups by clicking on their respective links.</p>
    
<p></p>
<P><h4> Action Links </h4></P>
<p>At the top of the screen, links that perform common task like adding new products, transactions, warehouses and groups </br> are shown. </p>
<img src="{% static 'images/actionlinks.png' %}" alt="Screenshot of the action links area" width='70%' height='40%'>
<p>You can also find the options to add products, transactions, warehouses and groups when you click on their navigation </br>links by the left.</p>

{% endblock content %}
