{% extends 'base.html' %}

{% block title %}Product Manual{% endblock title %}
{% load static %}
{% block content %}

<p></p>
<p><h3> Product Manual </h3></p>
<p><h5> Adding Products </h5></p>
<p>You can add new product by clicking on the <strong> "Add New product" </strong>action link above or you can Navigate to <strong>'All products" </strong> </br>link on the left and add new product from there.</p>
<p>Note: When adding a new product, you can only store details of the name, description and group it belongs to. </p>
<p>To add quantities of this product and assign to various warehouses, you have to <strong>"Add new product instance/ transaction"</strong></p>

<p><h5> Editing Products </h5></p>
<p>To edit a product, Navigate to "All Products" link, click on the product name, click on edit and update the product</p>

<p><h5> Deleting Products </h5></p>
<p>To Delete a product, Navigate to "All Products" link, click on the product name, click on delete and confirm</p>
<p><em><strong>Note: You will not be allowed to delete a product that transactions have been recorded for. To do that, you have to delete </br> the transactions first.</strong></em></p>
{% endblock content%}