{% extends 'base.html' %}

{% load crispy_forms_tags %} {% comment %} add crispy forms to installed apps in settings first then load here {% endcomment %}

{% block title %}Edit Product{% endblock title %}


{% block content %}
<form  method="post">

<!-- Security token -->

{% csrf_token %}

{% comment %} Using the formset {% endcomment %}

{% comment %} {{form.as_p}} This uses djangos inbuilt form {% endcomment %} 
{{form|crispy}}
Group not in list?  <a href="{% url 'group_form'%}" target="-blank"> Add group </a> and refresh page
<p></p>

<input type="submit" value="Update Product">

</form>

<p></p>

<a href="{{product.get_absolute_url}}"><button>Cancel</button> </a>

{% endblock %}




