{% extends 'base.html' %}

{% block title %}Transactions Manual{% endblock title %}
{% load static %}
{% block content %}

<p></p>
<h3> Product Instances/Transactions Manual </h3>

<p><h5> Adding Product Instances/ Transactions </h5></p>
<p>Product instances are also known as transactions. Once you have added details of a product, you can begin </br>to add product instances or transactions of that product.</p>
<p>Adding product instances or transactions allows you to assign quantities of a product to various warehouses.</p>
<p>You can add new product instances/transactions by clicking on the <strong> "Add New product instance/transaction" </strong> </br>action link above or you can Navigate to <strong>'All transactions" </strong> link on the left and add new product instance/transaction from there.</p>

<p><h5> Editing Product instances/transaction </h5></p>
<p>To edit a product instance/transaction, Navigate to "All Transactions" link on the left, click on the product instance </br> name, click on edit and update the product instance/ transaction.</p>

<p><h5> Deleting Product instances/transactions </h5></p>
<p>To Delete a product instance/transaction, Navigate to "All Transactions" link on the left, click on the product instance name, </br>click on delete and confirm</p>
{% endblock content%}

