{% extends 'base.html' %}

{% block title %}Warehouse Manual{% endblock title %}
{% load static %}
{% block content %}

<p></p>
<h3> Warehouse Manual </h3>

<p><h5> Adding Warehouses </h5></p>
<p>You can add new warehouses by clicking on the <strong> "Add New Warehouse" </strong> action link above or you can </br>Navigate to <strong>'All Warehouses" </strong> link on the left and add new warehouse from there.</p>

<p><h5> Editing Warehouse </h5></p>
<p>To edit details of a warehouse, Navigate to <strong> "All Warehouses" </strong> link on the left, click on the warehouse </br> name, click on edit and update the warehouse detail you want .</p>

<p><h5> Deleting Warehouse </h5></p>
<p>To Delete a warehouse, Navigate to <strong> "All Warehouses" </strong> link on the left,  click on the warehouse </br> name, click on delete and delete the warehouse.</p>
<p><em><strong>Note: You can only delete an empty warehouse. You will not be allowed to delete a warehouse that has products in it.</br> To do that, you have to move all products to other warhouse(s) or delete the transactions that were assigned to the warehouse</br> you want to delete </strong></em></p>



{% endblock content %}